body {
	font-size: 11pt;
	margin: 0px;
	padding: 0px;
	background-image: url(IMG/bg.png);
	font-family: Verdana;
	color: black;
}

p{
	text-align: justify;
}

hr {
	width: 60%;
}

h1, h2 {
	color: #347235;
}

h2 {
	font-size: 17px;
}

#tartalom {
	margin: 0 auto 0 auto;
	text-align: left;
	background: white;
	width: 850px;
	padding: 10px;
	
}

#nev{
	font-size: 16px;
	font-style:italic;
}


.kep {
	border: 1px solid black;
	margin-left: 5px;
	float: right;
}

a:link, a:hover, a:visited, a:active {
	color: #008080;
}

